  .cart-img {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
    .qty-box {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .qty-btn {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background: #eee;
    }
